In [1]:
#s3_prediction = "s3://aegovan-data/chemprot/predictions_chemprot-bert-f1-2022-05-22-23-18-21-560/prediction_chemprot_test.json"

s3_prediction="s3://aegovan-data/chemprot/predictions_chemprot-abstract-bert-f1-2022-07-30-22-34-07-969/prediction_chemprot_abstract_test.json"

In [2]:
import sys, os, pandas as pd
sys.path.append("../src")

import utils

In [3]:
from utils.s3_utils import download_file as download_s3_file

In [4]:
def write_chemprot_eval(df, dest_file):
    df = df[["abstract_id","prediction", "participant1_id", "participant2_id"]].query("prediction != 'NEGATIVE'").copy(deep=True)
    

    df["participant1_id"] = df["participant1_id"].apply(lambda x: f"Arg1:{x}")
    df["participant2_id"] = df["participant2_id"].apply(lambda x: f"Arg2:{x}")
    df.to_csv(dest_file, sep="\t", header=False, index=False)

In [5]:
local_temp ="./temp"

In [6]:
local_prediction_dir = os.path.join(local_temp, "prediction")
os.makedirs(local_prediction_dir, exist_ok=True)
local_prediction_file  = download_s3_file( s3_prediction, local_prediction_dir)

In [7]:
df_pred = pd.read_json(local_prediction_file)
df_pred.head()

,abstract_id,abstract,participant1_id,participant1,participant2_id,participant2,annotations,relationship_type,relationship_group,is_eval,...,NEGATIVE,CPR:3,CPR:4,CPR:5,CPR:6,CPR:9,prediction,confidence,confidence_std,raw_confidence
0,10076535,Androgen antagonistic effect of estramustine p...,T23,"{'abstract_id': '10076535', 'id': 'T23', 'enti...",T55,"{'abstract_id': '10076535', 'id': 'T55', 'enti...","[{'abstract_id': '10076535', 'id': 'T10', 'ent...",DIRECT-REGULATOR,CPR:2,N,...,0.916886,0.014671,0.053705,0.003942,0.004201,0.006595,NEGATIVE,0.916886,NaN,[0.91688585281372]
1,10076535,Androgen antagonistic effect of estramustine p...,T2,"{'abstract_id': '10076535', 'id': 'T2', 'entit...",T48,"{'abstract_id': '10076535', 'id': 'T48', 'enti...","[{'abstract_id': '10076535', 'id': 'T10', 'ent...",DIRECT-REGULATOR,CPR:2,N,...,0.169072,0.026358,0.332900,0.024690,0.444394,0.002586,CPR:6,0.444394,NaN,[0.444393634796142]
2,10076535,Androgen antagonistic effect of estramustine p...,T3,"{'abstract_id': '10076535', 'id': 'T3', 'entit...",T48,"{'abstract_id': '10076535', 'id': 'T48', 'enti...","[{'abstract_id': '10076535', 'id': 'T10', 'ent...",DIRECT-REGULATOR,CPR:2,N,...,0.238712,0.020262,0.105996,0.039764,0.592274,0.002992,CPR:6,0.592274,NaN,[0.592274129390716]
3,10076535,Androgen antagonistic effect of estramustine p...,T4,"{'abstract_id': '10076535', 'id': 'T4', 'entit...",T48,"{'abstract_id': '10076535', 'id': 'T48', 'enti...","[{'abstract_id': '10076535', 'id': 'T10', 'ent...",DIRECT-REGULATOR,CPR:2,N,...,0.855846,0.011207,0.022317,0.017417,0.088891,0.004323,NEGATIVE,0.855846,NaN,[0.85584557056427]
4,10076535,Androgen antagonistic effect of estramustine p...,T23,"{'abstract_id': '10076535', 'id': 'T23', 'enti...",T56,"{'abstract_id': '10076535', 'id': 'T56', 'enti...","[{'abstract_id': '10076535', 'id': 'T10', 'ent...",INDIRECT-UPREGULATOR,CPR:3,Y,...,0.912766,0.014528,0.057174,0.004211,0.004895,0.006426,NEGATIVE,0.912766,NaN,[0.9127659201622]

In [8]:
write_chemprot_eval(df_pred, os.path.join(local_temp, f"eval_pred_{local_prediction_file.split(os.path.sep)[-1]}.tsv"))

In [9]:
df_pred.query("abstract_id == '10351938'")[["prediction", "participant1_id", "participant2_id"]].sort_values(by=["prediction", "participant1_id"])

   prediction participant1_id participant2_id
33      CPR:3             T12             T32
34      CPR:3             T12             T33
35      CPR:3             T13             T32
29      CPR:3             T20             T34
30      CPR:3             T21             T34
41      CPR:3              T8             T28
42      CPR:4             T23             T34
43      CPR:4             T25             T36
28   NEGATIVE              T1             T35
31   NEGATIVE             T11             T32
32   NEGATIVE             T11             T33
36   NEGATIVE             T13             T33
37   NEGATIVE             T14             T32
38   NEGATIVE             T14             T33
39   NEGATIVE             T15             T32
40   NEGATIVE             T15             T33
44   NEGATIVE              T5             T26
45   NEGATIVE              T6             T26
46   NEGATIVE              T6             T27